i.mce-i-continuums-abbr {
  background-image: url('../img/mce-abbr.png');
}

i.mce-i-continuums-guillemet {
  background-image: url('../img/mce-guillemet.png');
}

i.mce-i-continuums-guillemeten {
  background-image: url('../img/mce-guillemeten.png');
}

i.mce-i-continuums-troispoints {
  background-image: url('../img/mce-troispoints.png');
}

i.mce-i-continuums-apostrophe {
  background-image: url('../img/mce-apostrophe.png');
}

i.mce-i-continuums-agrave {
  background-image: url('../img/mce-agrave.png');
}

i.mce-i-continuums-ecirc {
  background-image: url('../img/mce-ecirc.png');
}

i.mce-i-continuums-eaigu {
  background-image: url('../img/mce-eaigu.png');
}

i.mce-i-continuums-egrave {
  background-image: url('../img/mce-egrave.png');
}

i.mce-i-continuums-ccedille {
  background-image: url('../img/mce-ccedille.png');
}

i.mce-i-continuums-oe {
  background-image: url('../img/mce-oe.png');
}

i.mce-i-continuums-oemaj {
  background-image: url('../img/mce-oemaj.png');
}

i.mce-i-continuums-nonbreaking {
  background-image: url('../img/mce-nonbreaking.png');
}

i.mce-i-continuums-ae {
  background-image: url('../img/mce-ae.png');
}

i.mce-i-continuums-aemaj {
  background-image: url('../img/mce-aemaj.png');
}

i.mce-i-continuums-arond {
  background-image: url('../img/mce-arond.png');
}

i.mce-i-continuums-arondmaj {
  background-image: url('../img/mce-arondmaj.png');
}

i.mce-i-continuums-shatchek {
  background-image: url('../img/mce-shatchek.png');
}

i.mce-i-continuums-shatchekmaj {
  background-image: url('../img/mce-shatchekmaj.png');
}

i.mce-i-continuums-zhatchek {
  background-image: url('../img/mce-zhatchek.png');
}

i.mce-i-continuums-zhatchekmaj {
  background-image: url('../img/mce-zhatchekmaj.png');
}

i.mce-i-continuums-obarre {
  background-image: url('../img/mce-obarre.png');
}

i.mce-i-continuums-obarremaj {
  background-image: url('../img/mce-obarremaj.png');
}

i.mce-i-continuums-eszett {
  background-image: url('../img/mce-eszett.png');
}